.htaccess
.DS_Store
*~
*.swp
wf-ads.html
wp-config.php
wp-config.php*
wp-content/uploads/
wp-content/uploads
wp-content/upgrade/*
wp-content/backup-db/*
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/cache/*
wp-content/cache
wp-content/cache/supercache/*
wp-content/w3*
wp-content/blogs.dir
wp-content/blogs.dir/
wp-content/blogs.dir/*
sitemap.xml
sitemap.xml.gz
imgs/
wp-content/db.php
wp-content/object-cache.php
imgs
robots.txt
.sass-cache
slim/images
