.sections-wrap section {
	padding-bottom: 40px;
	border-bottom: 1px solid #DBDBDB;
}
.sections-wrap h1 {
	font-weight: 700;
}
.main-h {
	text-align: center;
	padding: 0 15px;
	margin: 2em 0;
}
.main-h > h1 {
	margin: 0;
	font-size: 1.9em;
	text-transform: uppercase;
}
.main-h > h1 > span {
	color: #395b5d;
}
.main-h > p {
	font-size: 15px;
	color: #555;
}
.sections-wrap .section-latest-posts {
	padding-bottom: 50px;
}
.l-container {
	position: relative;
}
.l-list {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.l-list li {
	width: 100%;
	margin-bottom: 25px;
}
.l-img > a {
	display: block;
}
.l-img img{
	width: 100%;
	height: auto;
	display: block;
}
.l-info {
	padding: 7px 15px 10px;
}
.l-cats {
	color: #395b5d;
}
.l-cats a {
	color: #395b5d;
	font-size: 14px;
	text-transform: uppercase;
}
.l-cats a:hover {
	color: #FF6600;
}
.l-title h3{
	margin: 0.2em 0 0.4em;
	font-size: 1.5em;
	font-family: 'Stag', serif;
	font-weight: 600;
	line-height: 1.3;
}
.l-title a {
	color: #333;
}
.l-title a:hover {
	color: #FF6600;
}
.l-author {
	font-size: 13px;
	color: #888;
	text-transform: uppercase;
}
.l-list .l-ad-wrap {
	text-align: center;
	margin-bottom: 35px;
}
.l-ad span {
	font-size: 11px;
	color: #888;
	display: inline-block;
	width: 100%;
}

/* Loader Section
/* --------------------------------- */
#section_loader {
	padding: 50px;
	text-align: center;
}
#section_loader .ball-grid-pulse {
	display: inline-block;
}
#section_loader .ball-grid-pulse > div {
	background-color: #dbdbdb;
} 

/* Subscribe Section
/* --------------------------------- */

.sections-wrap .section-subscribe {
	padding: 20px 20px 0;
}
.subs-container {
	text-align: center;
	width: 281px;
	margin: 0 auto 75px;
}
.subs-container > img {
	float: left;
	margin: 0 10px 20px 0;
	width: 120px;
}
.subs-info > p {
	font-size: 18px;
	text-align: left;
}
.subs-container .btn-lg {
	clear: both;
}
/* Store Section
/* --------------------------------- */
.store-container {
	text-align: center;
	clear: both;
	display: none;
}	
.store-container h1 {
	margin-bottom: 0.6em;
}
.store-link {
	color: #395b5d;
}
.store-link:hover {
	color: #FF6600;
	text-decoration: underline;
}
.store-slider-wrap {
	margin: 20px 0;
}
#store_slider {
	position: relative;
}
.store-item-img {
	height: 177px;
	overflow: hidden;
	width: 100%;
}
.store-item-title {
	margin: 5px 0 10px;
	line-height: 16px;
	font-size: 14px;
	font-family: "Stag", serif;
	font-weight: 600;
	height: 50px;
	overflow: hidden;
}
.store-item-title a {
	color: #333;
}

#store_slider li .btn-sm {
	width: 100%;
}
#store_slider .flex-direction-nav a {
	height: 70px;
	width: 30px;
	top: 29%;
	opacity: 1;
}
#store_slider .flex-direction-nav a:before {
	content: '';
	display: block;
	width: 0;
    height: 0;
    border-style: solid;
}
#store_slider .flex-direction-nav a.flex-next {
	right: -25px;
}
#store_slider .flex-direction-nav a.flex-prev {
	left: -25px;
}
#store_slider .flex-direction-nav a.flex-next:before {
	border-width: 10px 0 10px 14px;
    border-color: transparent transparent transparent #333;
    margin: 25px 0 0 10px;
}
#store_slider .flex-direction-nav a.flex-prev:before {
	border-width: 10px 14px 10px 0;
    border-color: transparent #333 transparent transparent ;
	margin: 25px 0 0 5px;
}

/* Featured Cat Section
/* --------------------------------- */
.section-twins {
	padding: 20px 0 30px;
}
.twins-title {
	padding: 0 20px;
	text-align: center;
}
.twins-thumbs {
	margin-top: 30px;
}
.twins-thumbs ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
.twins-thumbs ul li {
	margin-bottom: 40px;
}
.twins-img img{
	width: 100%;
	height: auto;
}
.twins-thumb-title {
	width: 100%;
	padding: 0 15px;
}
.twins-thumb-title h3 {
	margin: 0.3em 0 0;
    font-size: 1.5em;
    font-family: 'Stag', serif;
    font-weight: 600;
    line-height: 1.3;
}
.twins-thumb-title a {
	color: #333;
}
.twins-title .btn-lg {
	margin: 20px auto;
	max-width: 100%;
}

/* Explore Cats Section
/* --------------------------------- */
.section-exp-cats {
	padding: 20px 15px 30px;
}
.section-exp-cats h1 {
	text-align: center;
	margin-bottom: 1.2em;
}
.ec-list {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.ec-list li {
	width: 100%;
/* 	background-color: #ececec; */
	margin-bottom: 30px;
	padding: 20px 10px 55px;
	position: relative;
	border: 1px solid #dbdbdb;
}
.ec-list li h2 {
	margin: 0 0 0.6em;
	font: 600 20px 'Stag', serif;
}
.ec-list li h2 a {
	color: #395b5d;
}
.ec-list li h2 a:hover {
	text-decoration: underline;
}
.ec-list li img {
	width: 100%;
	height: auto;
}
.ec-list li h3 {
	font: 600 17px/22px 'Stag', serif;
	margin: 0.4em 0 0;
}
.ec-list li h3 a {
	color: #333;
}
.ec-list li h3 a:hover {
	color: #FF6600;
}
.ec-link {
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 20px;
	display: block;
	text-align: center;
	font-size: 14px;
	text-decoration: underline;
	color: #395b5d;
}
.ec-link:hover {
	font-weight: 600;
	text-decoration: underline;
}
.ec-list .ec-ad {
	background-color: transparent;
	padding: 0 0 20px;
}
#ec_ad_inner {
	margin-left: -5px;
}

/* Category Page Section
/* --------------------------------- */
.c-list {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.c-list li {
	width: 100%;
	margin-bottom: 30px;
}
.c-list li img {
	width: 100%;
	height: auto;
	display: block;
}
.c-list li > a {
	display: block;
}
.c-info {
	padding: 7px 15px;
}
.home .c-cats,
.post-type-archive-reader_photos .c-cats {
	display: block;
	margin-bottom: 3px;
}
.c-cats .category-name-link {
	color: #395b5d;
	text-transform: uppercase;
	font-size: 14px;
	background-color: transparent;
}
.c-cats .category-name-link:hover {
	color: #FF6600;
}
.c-cats {
	display: none;
}
.c-info h2 {
    margin: 0 0 0.3em;
    font-size: 1.5em;
    font-family: 'Stag', serif;
    font-weight: 600;
    line-height: 1.3;
}
.c-info h2 a {
	color: #222;
}
.c-info h2 a:hover {
	color: #FF6600;
}
.c-author {
    font-size: 13px;
    color: #888;
    text-transform: uppercase;
}

@media only screen and (min-width: 374px) {/* iPhone 6 */

.store-item-img {height: 211px;}
.ec-list .ec-ad {background-color: #ececec;}
#ec_ad_inner {margin: 0 auto;}

}/* end media 375px */ 

@media only screen and (min-width: 410px) {

.store-slider-wrap {max-width: 300px; margin: 20px auto 0;}
.store-item-img {height: 206px;}	
.ec-list li {padding: 20px 20px 55px;}
	
}

@media only screen and (min-width: 600px) {

.main-h {padding: 0 30px;margin: 3em 0;}
.main-h > h1 {font-size: 2em;}
.main-h > p {font-size: 17px;}
	
.subs-container {width: auto;max-width: 480px;margin: 0 auto 30px;}
.subs-container > img {float: left;margin: 0 5% 20px 0;width: 37%;}
.subs-container .btn-lg {clear: none;display: inline-block;width: 100%;margin: 10px 0;}
.subs-info {width: 58%;float: left;}	

.store-slider-wrap {max-width: 450px;margin: 20px auto 0;}
.store-item-img {height: 163px;}
#store_slider .flex-direction-nav a.flex-next {right: -35px;}
#store_slider .flex-direction-nav a.flex-prev {left: -35px;}
#store_slider .flex-direction-nav a:hover {background-color: rgba(200, 200, 200,.3);}
#ec_ad {background: transparent;padding: 0 0 20px;}
	
}

@media only screen and (min-width: 700px) {
	
.sections-wrap section {padding-bottom: 35px;}
.l-container {padding: 0 30px;}
.l-list li {width: 48%;}
.l-list .l-ad-wrap {text-align: center;margin-bottom: 35px;width: 100%;}
.l-info {padding: 7px 10px 10px;}
.sections-wrap .section-twins {padding: 30px 30px 50px;}
.twins-title {float: left; width: 34%; padding: 0 20px 0 0; text-align: left;}
.twins-thumbs {float: left; width: 66%;}
.twins-thumbs ul {display: flex; justify-content: space-between;}
.twins-thumbs ul li {width: 48%; margin-bottom: 0;}
.section-exp-cats {padding: 20px 30px;}
.ec-list li {width: 48%;}
.c-info {padding: 7px 0;}

.sections-wrap .section-latest-posts {
	padding: 0 30px 60px;
}
.c-list li {width: 48%;}

}/* end media 700px */




@media only screen and (min-width: 1020px) {

.main-h {padding: 0;margin: 3em auto; max-width: 700px;}
.main-h > p {font-size: 18px;}
.l-container {padding-right: 380px;max-width: 1020px; margin: 0 auto;}
.l-list .l-ad-wrap {position: absolute;top: 0; right: 30px; width: 320px;margin: 0;}
.l-ad {width: 320px;background-color: #ececec;padding-bottom: 10px;}
.l-ad span {margin: 9px 0;}
.l-list li.adfixed {position: fixed; top: 100px;}
.l-list li.adstick-bottom {position: absolute; top: auto; bottom: 0;}
.l-list li.adstick-bottom-sm {position: absolute; top: auto; bottom: 0;}
.sections-wrap .section-subscribe {padding: 60px 0;}
#store_slider {margin-bottom: 10px;}
.subs-container {width: 45%; float: none; padding-right: 30px;}
.section-subscribe h1 {margin-top: 0;}
.store-container {width: 55%; float: left; clear: none; padding-left: 20px;border-left: 1px solid #DBDBDB; position: relative;}
.store-container h1 {text-align: left; margin-left: 32px;}
.store-link {position: absolute; right: 0; top: 12px; font-size: 14px;}
.store-slider-wrap {margin-top: 40px;}

.twins-title {width: 34%;}
.twins-thumbs {width: 66%;}
.twins-title .btn-lg {margin: 30px 0;}
.section-exp-cats {padding: 30px;}
.ec-list li,
.c-list li {width: 31.5%;}


}/* end media 1020px */

@media only screen and (min-width: 1030px) {
	
.l-list li {position: relative; z-index: 1;}
.l-container {padding: 0 350px 0 0;}
.l-list .l-ad-wrap {right: 0; left: 0; margin: 0 auto; width: 1020px; z-index: 0;}
.l-ad {float: right;}
.store-slider-wrap {margin-top: 40px;}
/* .store-item-img {height: 148px;} */
	
}/* end media 1020px */	

@media only screen and (min-width: 1100px) {

.subs-container {width: 50%;}
.store-container {width: 50%;}

}/* end media 1100px */








