.main-single {
	position: relative;
}
.article {
	padding: 20px 5%;
}
.post-cats a {
	display: inline-block;
	margin: 0 5px 5px 0;
	height: 30px;
	border-radius: 2px;
	color: #fff;
	padding: 0 10px;
	line-height: 30px;
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
	background-color: #FF6600;
}
/* ARTICLE HEADER 
--------------------------------------------*/
.article-header {
	margin-bottom: 20px;
}
.article-header > h1 {
	margin: 0.4em 0;
	font-size: 28px;
}
.byline {
	margin-bottom: 15px;
}
.byline span {
	font-size: 13px; 
	color: #555;
}
.social-single ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.social-single ul li {
	display: inline-block;
	margin-right: 5px;
}
.social-single ul li a {
	display: block;
	width: 45px;
	height: 45px;
	border-radius: 2px;
	background-color: #4464B2;
	text-align: center;
	color: #fff;
}
.social-single ul li:nth-of-type(2) a {
	background-color: #28A9E0;
}
.social-single ul li:nth-of-type(3) a {
	background-color: #DBDBDB;
	color: #777;
}
.social-single ul i {
	line-height: 45px;
	font-size: 20px;
}
.social-single ul span {
	display: none;
}

/*---------------------------------------------- */
/*	ARTICLE BODY
/*---------------------------------------------- */
.article-body p {
	font-size: 17px;
	line-height: 1.8em;
/* 	font-family: 'Droid Serif', serif; */
	font-family: 'Merriweather', serif;
}

.article-body a {
	color: #0060f0;
}
.article-body a:hover {
	text-decoration: underline;
}
.wp-caption {
    margin: 0 -6%;
    min-width: 112%;
    max-width: 100%;
    text-align: left;
    background: #fff;
}
.article-body img {
	width: 112%;
	height: auto;
	margin: 0 -6%;
}
.video-container iframe {
	margin: 0 -6px;
}
.sticky-ad-inner {
	width: 300px;
	height: 250px;
	margin: 0 auto;
	background-color: #6456ac;
}
.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    width: 100%;
    padding: 0;
}
.wp-caption p.wp-caption-text {
    font-size: 13px;
    line-height: 17px;
    margin: 0;
    padding: 4px 15px 10px;
    border-bottom: 1px solid #bbb;
    font-family: 'Open Sans', sans-serif;
}

/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

/* STICKY AD ******/
.sticky-ad {
	margin: 20px -2%;
}






















@media only screen and (min-width: 375px) {/* iPhone 6 */

/* STICKY AD **************/



}/* end media 375px */ 


@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { /* iPhone Landscape */


}


@media only screen and (min-width: 600px) {

.post-cats a {font-size: 14px;}
.article-header > h1 {font-size: 33px;}
.byline {margin-bottom: 25px;}
.byline span {font-size: 14px;}
.social-single ul li a {width: 150px;}
.social-single ul i,
.social-single ul span {display: inline; vertical-align: middle; line-height: 45px; margin:0 5px;}
.social-single ul span {font-size: 15px;}
.social-single ul li:nth-of-type(3) span {color: #333;}

/* Article Body */
.wp-caption {margin: 0;min-width: auto;}
.article-body img {width: auto;margin: 0;max-width: 100%;}
.alignnone {margin: 5px 20px 20px 0;}
.aligncenter,
div.aligncenter {display: block;margin: 5px auto 5px auto;}
.alignright {float:right;margin: 5px 0 20px 20px;}
.alignleft {float: left;margin: 5px 20px 20px 0;}
a img.alignright {float: right;margin: 5px 0 20px 20px;}
a img.alignnone {margin: 5px 20px 20px 0;}
a img.alignleft {float: left;margin: 5px 20px 20px 0;}
a img.aligncenter {display: block;margin-left: auto;margin-right: auto;}
.wp-caption.alignnone {margin: 5px 20px 20px 0;}
.wp-caption.alignleft {margin: 5px 20px 20px 0;max-width: 300px;}
.wp-caption.alignright {margin: 5px 0 20px 20px;max-width: 300px;}


}/* end of media */

@media only screen and (min-width: 700px) {







}/* end of media */

@media only screen and (min-width: 760px) {

.article {padding:40px 0;width: 650px;margin: 0 auto;}	
.social-single ul li a {width: 189px;}	
	
}/* end of media */

@media only screen and (min-width: 920px) {


}/* end of media */

@media only screen and (min-width: 1020px) {

.article {width: 55%;margin: 0 0 0 5%; }	
.social-single ul li a {width: 150px;}
.sticky-ad {position: absolute;top: 60px;right: 6%;}
.adfixed {position: fixed; top: 75px;}
.adstick-bottom {position: absolute; top: auto; bottom: 0;}
.adstick-bottom-sm {position: absolute; top: auto; bottom: 0;}


}/* end of media */


@media only screen and (min-width: 1025px) {/* big landscape tablets, laptops, and desktops */

}/* end of media */

@media only screen and (min-width: 1250px) {/* large desktops */


}/* end of media */

@media only screen and (min-width: 1440px) {/* large desktops */

	
}/* end of media */






















































