/*  ==========================================================================
	TABLE OF CONTENTS: 
============================================================================== 
1.0 Icons 
2.0 Defaults
	2.1 WYSIWYG and general wordpress styles
3.0 Helper classes
4.0 Buttons
5.0 Home Page Styles
6.0 Single Article
7.0 Footer
8.0 Media Queries
9.0 Print styles


/* ==========================================================================
	1.0 Icons  
========================================================================== */

@font-face {
	font-family: 'icomoon';
	src:url('icomoon-fonts/icomoon.eot?9z698v');
	src:url('icomoon-fonts/icomoon.eot?#iefix9z698v') format('embedded-opentype'),
		url('icomoon-fonts/icomoon.woff?9z698v') format('woff'),
		url('icomoon-fonts/icomoon.ttf?9z698v') format('truetype'),
		url('icomoon-fonts/icomoon.svg?9z698v#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-triangle-down:before {
	content: "\f05b";
}

.icon-arrow-left:before {
	content: "\e600";
}

.icon-cross:before {
	content: "\ea0f";
}

.icon-mail:before {
	content: "\ea86";
}

.icon-facebook:before {
	content: "\ea8e";
}

.icon-twitter:before {
	content: "\ea93";
}

.icon-chevron-thin-right:before {
	content: "\e601";
}

.icon-chevron-thin-left:before {
	content: "\e602";
}

.icon-angle-right:before {
	content: "\f105";
}

/* ==========================================================================
	2.1 WordPress Core
========================================================================== */

.alignnone {
    margin: 5px 20px 20px 0;
}
.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}
.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}
.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}
a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}
a img.alignnone {
    margin: 5px 20px 20px 0;
}
a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}
a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}
.wp-caption {
	max-width: 100%;
	width: 100%;
	text-align: left;
}
.m-article .alignright,
.m-article .alignleft,
.m-article .alignnone,
.m-article .aligncenter {
	display: block;
	margin: 5px auto;
	float: none;
	max-width: 100%;
	height: auto;
}
.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
	max-width: 100%;
    padding: 0;
    width: auto;
}
.wp-caption p.wp-caption-text {
	position: relative;
    font-size: 13px;
    line-height: 17px;
    margin: 0;
    padding: 3px 10px 10px;
	border-bottom: 2px solid #bb9632;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
}
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}


/* ==========================================================================
   3.0 Helper classes
   ========================================================================== */
.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}
.hidden {
    display: none !important;
    visibility: hidden;
}
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
.hidden {
    visibility: hidden;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}



/* ==========================================================================
	4.0 Buttons
========================================================================== */

.s-buy-btn {
	display: inline-block;
	text-align: center;
	padding: 10px 5px 9px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.07);
	line-height: 10px;
	color: #222222;
	-webkit-transition:all 0.4s;
	-moz-transition:all 0.4s;
	transition:all 0.4s;
}
.s-buy-btn:hover {
	color: black;
	-webkit-transition:all 0.2s;
	-moz-transition:all 0.2s;
	transition:all 0.2s;
	border-radius: 4px;
}


/* ==========================================================================
	2.0 Defaults 
========================================================================== */

html, body {
	height: 100%;
	background-color: #202020;
	color: #e9e9e9;
}
a, a:hover, a:active, label:focus, label:active, i:hover {
	outline: none;
	text-decoration: none;
	-webkit-transition:color 0.1s;
	-moz-transition:color 0.1s;
	transition:color 0.1s;
}
h1, h2, h3, h4, h5 { 
	font-weight: 600; 
	font-style: normal; 
}


/* ==========================================================================
   5.0 Header
   ========================================================================== */

.main-header {
	width: 100%;
}
.top-panel {
	height: 30px;
	width: 100%;
	background-color: #333333;
	text-align: center;
}
.top-panel a:before {
	font-family: 'icomoon';
	font-size: 12px;
	margin-right: 5px;
}
.top-panel a {
	color: #888888;
	font: 700 16px/30px sans-serif;
}
.top-panel a:hover {
	color: #bbbbbb;
}
.microsite-logo {
	width: 100%;
	display: block;
	border-bottom: 1px solid #444444;
}
.single .main-nav {
	float: none;
	text-align: center;
	margin: 0 auto;
}
.single .main-nav ul li {
	float: none;
}

/* Main-nav */
.main-nav {display: block; float: left; margin: 0 0 0 20px; position: relative; z-index: 30;}	
.main-nav ul {margin: 0; padding: 0;}
.main-nav > ul > li {display: inline-block; float: left;margin-top: 13px; height: 11px; border-left: 1px solid #e9e9e9;}
.main-nav > ul > li > a {display: block;padding: 0 11px;color: #c2c2c2;font:13px/13px sans-serif ;}


.main-nav ul li:last-child {border-right: 1px solid #e9e9e9;} 
.main-nav ul li:first-child a {margin: 0;}
.main-nav > ul li.menu-item-has-children {position: relative;}
.main-nav > ul li.menu-item-has-children:hover ul {display: block;}
.main-nav > ul li.menu-item-has-children > a {background: url("/wp-content/themes/imo_marketing/images/all-pages/caret.png") 88% 25px no-repeat;}
.main-nav > ul li.market-solutions > a {background: url("/wp-content/themes/imo_marketing/images/all-pages/caret.png") 93% 25px no-repeat;}
.main-nav > ul li.menu-item-has-children:hover > a {background: url("/wp-content/themes/imo_marketing/images/all-pages/caret.png") 88% -21px no-repeat;}
.main-nav > ul li.menu-item-has-children ul {display: none;min-width: 185px;position: absolute;margin: 0;padding: 3px 0 5px 0;background: #000000;z-index: 9999;}
.main-nav > ul li.menu-item-has-children ul li {display: block;width: 100%;padding: 0 12px;}
.main-nav > ul li.menu-item-has-children ul li:hover {background-color: #191919;}
.main-nav > ul li.menu-item-has-children ul li a {display: block;font-size: 14px;font-weight: 200;padding: 10px 5px;border-bottom: 1px solid #363636;}
.main-nav > ul li.menu-item-has-children ul li:last-child a {border: none;}
.main-nav > ul li.menu-item-has-children ul li a:hover {color: #d8d1c6;}
.main-nav > ul li.menu-item-has-children ul > li.menu-item-has-children {position: relative;}
.main-nav > ul li.menu-item-has-children ul > li.menu-item-has-children > a {background: url("/wp-content/themes/imo_marketing/images/all-pages/caret.png") 88% 21px no-repeat;}
.main-nav > ul li.menu-item-has-children ul > li.menu-item-has-children > .sub-menu {display: none;position: absolute;top: 0; left: 185px;padding: 0 0 1px 0;background-color: #191919;}
.main-nav > ul li.menu-item-has-children ul > li.menu-item-has-children:hover > .sub-menu {display: block;}
.main-nav > ul li.menu-item-has-children ul > li.menu-item-has-children > .sub-menu li:hover {background-color: #222222;}


.social-buttons {
	float: right;
}
.single .social-buttons {
	float: none;
	text-align: center;
	margin: 0 auto;
}
.social-buttons ul {
	list-style: none;
	margin: 8px 20px 8px 0;
	padding: 0;
}
.social-buttons ul li {
	display: inline;
	margin-left: 10px;
}
.social-buttons ul li a {
	font-size: 19px;
	color: #a0a0a0;
}

/* ==========================================================================
   5.0 Home Page
   ========================================================================== */

/* Content *******************/
.content {
	max-width: 100%;
	padding: 20px;
}
.posts-wrap {
	border-bottom: 1px solid #444444;
}

.featured-message {
	width: 100%;
	border-top: 2px solid #959595;
	border-bottom: 2px solid #959595;
	min-height: 100px;
	margin-bottom: 35px;
	float: left;
	text-align: center;
}
.featured-message span {
	width: 100%;
	display: inline-block;
	font:700 13px "Lora", serif;
	margin: 20px 0 0;
}
.m-social-buttons {
	margin: 0 auto 15px;
}
.m-social-buttons ul {
	list-style: none;
	margin: 8px 0;
	padding: 0;
}
.m-social-buttons ul li {
	display: inline;
	margin: 0 5px;
}
.m-social-buttons ul li a {
	font-size: 25px;
	color: #a0a0a0;
}
.p-container {
	margin-bottom: 40px;
}
.link-box {
	display: block;
}
.post-box {
	width: 100%;
	float: left;
	margin-bottom: 30px;
	background-size: cover;
	background-position: center center;
	padding-top: 67%;
	-webkit-transition:opacity 0.1s;
	-moz-transition:opacity 0.1s;
	transition:opacity 0.1s;
}
.post-box:hover {
	opacity: 0.9;
	-webkit-transition:opacity 0.1s;
	-moz-transition:opacity 0.1s;
	transition:opacity 0.1s;
}


/* ==========================================================================
   6.0 Single Article
   ========================================================================== */
   
.wpsocialite{display: none !important;}
.single .share-count.social-buttons{position: relative;bottom: auto;right: auto;text-align: left;margin: 0;list-style: none;padding: 0 0 20px 0;}
.single .share-count.social-buttons li{float: left;margin-right: 10px;}
.single .share-count.social-buttons .twitter-share{margin-top: 2px;}

.m-article-wrap {
	width: 100%;
	background-color: white;
	color: #222222;
}   
.m-article-image {
	width: 100%;
	padding-top: 50%;
	background-size: cover;
	background-position: center center;
}
.m-article {
	padding: 0 20px 20px;
} 
.m-article .m-hlep-grow {
	font: 400 14px/17px sans-serif;
	color: #58595b;
	width: 218px;
}

.m-article .m-social-wrap {
  margin-top: 20px;
}
.m-article .m-social-buttons ul li:first-child {
	margin-left: 0;
}
.m-article .m-social-buttons ul li {
	margin: 0 5px;
}
.m-article .m-social-buttons ul li a {
	color: #ee7700;
	font-size: 25px;
	-webkit-transition:color 0.2s;
	-moz-transition:color 0.2s;
	transition:color 0.2s;
}
.m-article .m-social-buttons ul li a:hover {
	color: #ff9000;
	-webkit-transition:color 0.2s;
	-moz-transition:color 0.2s;
	transition:color 0.2s;
}
.m-article h1 {
	font-size: 31px;
	line-height: 36px;
	text-transform: uppercase;
	margin-bottom: 5px;
	clear: both;
}
.m-article h3 {
	font-size: 21px;
	line-height: 27px;
	font-weight: 300;
	margin: 0;
}
.m-post-byline {
	font-size: 12px;
	font-weight: 400;
	display: inline-block;
	margin-bottom: 8px;
}
.m-article p {
	font: 400 17px/28px sans-serif;
}
.m-article blockquote {
	position: relative;
	margin: 30px 0;
	padding-left: 30px;
	font-weight: 200;
	font-size: 26px;
	line-height: 30px;
	border-left: 9px solid #ee7700;
	font: 400 26px sans-serif;
} 
.m-article blockquote p {
	font: 400 26px sans-serif;
}
.m-article blockquote::before, .m-article blockquote::after {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	font-size: 35px;
	text-transform: none;
	line-height: 1;
	content: "\f05b";
	color: white;	
	position: absolute;
} 
.m-article blockquote::before {	
	top: -16px;
	left: -19px;	
	-ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
}
.m-article blockquote::after {
	bottom: -16px;
	left: -15px;
	-ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
} 
/* More Articles ***********/
.m-more {
	max-width: 100%;
	padding: 0 20px;
}
.m-more-wrap {
	padding-bottom: 20px;
	border-bottom: 1px solid #444444;
}
/* Buy Mag Widget ***********/
.m-buy-mag {
	width: 300px;
}
.m-buy-mag h2 {
	font-size: 31px;
	line-height: 37px;
	margin: 0 0 20px;
	text-align: center;
	font-weight: 200;
}
.m-buy-mag-bottom {
	width: 100%;
}
.m-buy-mag-img {
	width: 155px;
	height: 205px;
	float: left;
	margin-right: 11px;
	background: no-repeat center center / cover;
}
.m-buy-mag-bottom > a, .m-buy-mag-bottom .m-buy-dig {
	margin-bottom: 0;
	overflow: hidden;
	display: block;
	position: relative;
	float: left;
	width: 134px;
	height: 96px;
	font-size: 17px;
	line-height: 24px;
	margin-bottom: 13px;
	border: 1px solid #e1e1e1;
	padding: 11px 19px;
	border-radius: 1px;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #e3e3e3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e3e3e3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#e3e3e3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#e3e3e3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#e3e3e3 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#e3e3e3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e3e3e3',GradientType=0 ); /* IE6-9 */
	-webkit-transition:color 0s;
	-moz-transition:color 0s;
	transition:color 0s;
}
.m-buy-mag-bottom .m-buy-dig > a {
	display: block;
	width: 100%;
	height: 100%;
}
.m-buy-mag-bottom .m-buy-dig:nth-child(2) {
	margin-bottom: 13px;
}
.m-buy-mag-bottom .m-buy-dig:nth-child(2):hover a {
	color: white;
}
.m-buy-mag-bottom .m-dig-drop a:hover, .m-buy-mag-bottom .m-buy-dig:nth-child(2):hover {
	color: white;
	border-radius: 4px;
	font-weight: 600
	-webkit-transition:color 0s;
	-moz-transition:color 0s;
	transition:color 0s;
}

.m-buy-mag-bottom .m-buy-dig:hover .m-dig-drop  {
	top: 0;
	-webkit-transition:top 0.7s ease;
	-moz-transition:top 0.7s ease;
	transition:top 0.7s ease;
}
.m-dig-drop {
	-webkit-transition:top 1s;
	-moz-transition:top 1s;
	transition:top 1s;
	position: absolute;
	top: 95px;right: 0; bottom: 0; left: 0;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #e3e3e3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e3e3e3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#e3e3e3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#e3e3e3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#e3e3e3 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#e3e3e3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e3e3e3',GradientType=0 ); /* IE6-9 */
}
.m-dig-drop ul {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: left;
}
.m-dig-drop ul li {
	height: 31px;
	width: 100%;
}
.m-dig-drop ul li:first-child {
	height: 33px;
}
.m-dig-drop ul li a {
	display: block;
	width: 100%;
	height: 31px;
	padding: 3px 5px;
}
.m-dig-drop ul li:first-child a {
	height: 33px;
	padding: 5px 5px 3px;
}
.m-dig-drop ul li a:hover {
	background-color: orange;
}
.m-dig-drop ul li a img {
	width: 20px;
	height: 20px;
	float: left;
	margin-right: 10px;
}
.m-dig-drop ul li a span {
	font:400 12px/20px "Source Sans Pro", 'Open Sans', sans-serif;
	color: #333333;
	display: block;
	float: left;
}


/* ==========================================================================
   7.0 Footer
   ========================================================================== */
.category .s-footer {
	padding: 20px 20px 50px;
}
.s-footer {
	max-width: 100%;
	padding: 50px 20px 42px;
}  
.s-mag {
	z-index: 450;
} 
.s-mag-cover {
	float: left;
	width: 44%;
	margin-right: 6%;
}
.s-mag-cover img {
	width: 100%;
}
.s-mag-descr {
	float: left;
	width: 50%;	
}
.s-mag-descr h1 {
	font-size: 19px;
	margin: -8px 0 0;
}
.s-mag-descr p {
	font-size: 12px;
	margin: 5px 0 0;
	font-family: 'Source Sans Pro', sans-serif;
}
.s-mag-buy {
	float: left;
	width: 100%;
}
.s-mag-buy h2 {
	font-size: 18px;
	font-weight: 200;
}
.s-or {
	position: relative;
	height: 12px;
	border-top: 1px solid #959595;
	border-bottom: 1px solid #959595;
}
.category .s-or {
	margin-top: 11px;
}
.s-or > div {
	position: absolute;
	left: 0;right: 0; top: -8px; 
	margin: 0 auto;
	width: 40px;
	height: 20px;
	background-color: #202020;
	text-align: center;
	font-weight: 200;
}
.s-mag-btns {
	width: 100%;
	float: left;
	margin: 15px 0;
}
.s-mag-btns .s-buy-btn {
	width: 48%;
	position: relative;
}
.s-mag-btns div.s-buy-btn {
	cursor: default;
	position: relative;
}
.s-mag-btns div.s-buy-btn:hover .buy-mag-drop {
	display: block;
}






























































