.main-single {
	position: relative;
}
.article {
	padding: 20px 5% 0;
}
.cat-feat-label a {
	display: inline-block;
	margin: 0 1px 5px 0;
	height: 30px;
	border-radius: 2px;
	color: #fff;
	padding: 0 10px;
	line-height: 30px;
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
	background-color: #b9b9b9;
}
.cat-feat-label a.primary-cat {
	background-color: #FF6600;
}
/* ARTICLE HEADER 
--------------------------------------------*/
.article-header {
	margin-bottom: 20px;
}
.article-header > h1 {
	margin: 0.4em 0;
	font-size: 28px;
}
.cat-feat-wrap a {
	display: inline-block;
	margin: 0 1px 5px 0;
	height: 30px;
	border-radius: 2px;
	color: #fff;
	padding: 0 10px;
	line-height: 30px;
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
	background-color: #b9b9b9;
}
.cat-feat-wrap a.primary-cat {
	background-color: #FF6600;
}
.the-date {
	font-size: 12px;
	color: #666;
	margin-top: 10px;
}
.author-wrap {
	margin: 0 0 23px;
}
.author-img {
	float: left;
	margin: 0 10px 0 0;
	width: 66px;
	height: 66px;
	border-radius: 33px;
	background-color: #c5c5c5;
	overflow: hidden;
	border: 1px solid #c5c5c5;
}
.author-img img {
	width: 100%;
	height: 100%;
}
.author-wrap h4 {
	margin: 0;
	color: #555;
}
.author-title {
	color: #666;
	font-size: 12px;
}
.author-title i {
	display: none;
}
.author-title a {
	color: #666;
	text-decoration: underline;
}
.author-title a:hover {
	color: #395b5d;
}
.social-single ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.social-single ul li {
	display: inline-block;
	margin-right: 5px;
}
.social-single ul li a {
	display: block;
	width: 45px;
	height: 45px;
	border-radius: 2px;
	background-color: #4464B2;
	text-align: center;
	color: #fff;
}
.social-single ul li a:hover {
	opacity: 0.9;
}
.social-single ul li:nth-of-type(2) a {
	background-color: #28A9E0;
}
.social-single ul li:nth-of-type(3) a {
	background-color: #DBDBDB;
	color: #777;
}
.social-single ul i {
	line-height: 45px;
	font-size: 20px;
}
.social-single ul span {
	display: none;
}

/*---------------------------------------------- */
/*	ARTICLE BODY
/*---------------------------------------------- */
.article-body p {
	font-size: 17px;
	line-height: 1.8em;
	font-family: 'Merriweather', serif;
}

.article-body a {
	color: #f56200;
}
.article-body a:hover {
	text-decoration: underline;
}
.wp-caption {
    margin: 30px -6%;
    min-width: 112%;
    max-width: 100%;
    text-align: left;
    background: #fff;
}
.article-body img {
	width: 112%;
	height: auto;
	margin: 0 -6%;
}
.video-container iframe {
	margin: 0 -6px;
}
.sticky-ad-inner {
	width: 300px;
	margin: 0 auto;
}
.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    width: 100%;
    padding: 0;
}
.wp-caption p.wp-caption-text {
    font-size: 13px;
    line-height: 17px;
    margin: 0;
    padding: 4px 15px 10px;
    border-bottom: 1px solid #bbb;
    font-family: 'Open Sans', sans-serif;
}

/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

/* STICKY AD ******/
.sticky-ad {
	margin: 20px -2%;
}

blockquote {
	margin: 30px 0;
	padding:0 10px 0 25px;
	color: #f56200;
	border-left: 8px solid #f56200;
	border-top: 8px solid #fff;
	border-bottom: 8px solid #fff;
}
.article-body blockquote p {
	margin: 0;
	font-size: 21px;
	line-height: 1.6em;
}

/*---------------------------------------------- */
/*	ARTICLE ELEMENTS
/*---------------------------------------------- */
.ae-img {
    float: left;
    display: block;
    margin: 0 15px 10px 0;
    width: 100px;
    background-color: #eee;
}

.article-elem {
	padding: 0 0 15px;
	border-bottom: 1px solid #ccc;
	margin: 30px 0;
	overflow: hidden;
	width: 100%;
}
.ae-header {
	position: relative;
	height: 25px;
	padding: 12px 0;
	text-align: center;
	margin-bottom: 13px;
}
.ae-header > div {
	height: 1px;
	width: 100%;
	background-color: #ccc;
}
.ae-header h4 {
	position: absolute;
	display: block;
	top: 0; bottom: 0; left: 0; right: 0;
	margin: auto;
	color: #9B9B9B;
	font-weight: 600;
	font-size: 14px;
	text-transform: uppercase;
}

.ae-header h4 span {
	background-color: #fff;
	padding: 0 8px;
	line-height: 25px;
}
.ae-img {
	float: left;
	display: block;
	margin: 0 15px 10px 0;
	width: 100px;
	background-color: #eee;
}
.sp-inner .ae-img {
	margin-bottom: 15px;
}
.ae-img > div {
	padding-top: 64%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
}
a.ae-title {
	font-weight: 700;
	color: #333;
	margin-bottom: 5px;
}
a.ae-title p {
	margin: 5px 0;
	font: 400 14px/1.4em 'Open Sans', sans-serif;
}
.ae-sponsor {
	text-align: center;
	clear: both;
	margin-top: 10px;
	font-size: 13px;
}
.ae-play {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 28px;
	height: 28px;
	background-color: #FF6600;
	text-align: center;
}
.ae-triangle {
	display: inline-block;
	margin-top: 9px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 5px 0 5px 9px;
	border-color: transparent transparent transparent #ffffff;
}

/* Video elem */
.video-elem {
	padding: 16px 0;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	text-align: center;
}
.ve-head {
	
}
.ve-head h4 {
	font-size: 16px;
	text-transform: uppercase;
	margin: 0 0 4px;
}
.ve-head > span {
	font-size: 13px;
}
.ve-content {
	padding: 20px 0 5px;
	text-align: left;
}
.ve-content ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.ve-content ul li {
	width: 100%;
	float: left;
	margin-bottom: 10px;
}
.ve-img {
	float: left;
	display: block;
	margin: 0 15px 5px 0;
	width: 100px;
	background-color: #eee;
}
.ve-img > div {
	padding-top: 64%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
}
.ve-content h4 {
	margin: 0;
	font-size: 15px;
    line-height: 1.3em;
}
.ve-content ul li a {
	color: #333;
}
.ve-content ul li a:hover {
	color: #666;
	text-decoration: none;
}
.ve-link {
	font-size: 14px;
	display: inline-block;
	text-decoration: underline;
}
.a-comments {
	margin: 30px 0;
}
.show-comments {
	width: 100%;
	height: 45px;
	border-color: #FF6600;
	border-width: 4px;
	border-style: solid;
	text-align: center;
	line-height: 37px;
	color: #f56200;
	cursor: pointer;
}
.show-comments:hover {
	border-color: #ff8827;
}
.grey-hr {
	height: 1px;
	width: 100%;
	background-color: #ccc;
	margin: 30px 0;
}
.ad-single-inline {
	text-align: center;
	margin: 30px 0;
}
.as-inner {
	width: 300px;
	height: 250px;
	display: inline-block;
	margin: 0 -5%;
}
.ad-single-bottom {
	margin: 30px 0;
	text-align: center;
}
.single-newsletter {
	background-color: #ececec;
	padding: 5px 5% 30px;
	text-align: center;
	margin: 0 -5% 30px;
}
.single-newsletter h3 {
	color: #FF6600;
	font: 600 1.5em 'Stag', serif;
	margin-bottom: 10px;
}
.single-newsletter .newsletter fieldset input:first-child {
	width: 100%;
	line-height: 43px;
	margin: 10px 0 15px;
	border: 3px solid #aaa;
}
.single-newsletter .newsletter fieldset input:last-child {
	width: 100%;
	height: 49px;
}


/* Fix for haritage elements */
.article-body .inline-post {
	border-top: 1px solid #ccc;
	padding: 25px 0 0;
	border-bottom: 1px solid #ccc;
	margin: 30px 0;
	width: 100%;
	min-width: 100%;
	position: relative;
	*zoom: 1;
}
.article-body .inline-post:before,
.article-body .inline-post:after {
    content: " ";
    display: table;
}
.article-body .inline-post:after {
    clear: both;
}

.inline-post > a > img {
	float: left;
    display: block;
    margin: 0 15px 10px 0;
    width: 100px;
    background-color: #eee;
}
.article-body .inline-post .related {
	position: absolute;
	left: 0;
	right: 0;
	top: -10px;
	margin: 0 auto;
	display: block;
	width: 88px;
	background-color: #fff;
	padding: 0 15px;
	text-transform: uppercase;
	color: #9B9B9B;
	font-size: 14px;
	font-weight: 600;
}
.article-body .inline-post h1 {
	font-size: 17px;
	color: #333;
	font-family: "Sorce Sans Pro", sans-serif;
	margin: 0 0 0.5em;
}
.article-body .inline-post p {
	font-size: 14px;
	color: #333;
	font-family: "Sorce Sans Pro", sans-serif;
	margin: 0 0 1em;
}


/*---------------------------------------------- */
/*	MORE STORIES
/*---------------------------------------------- */

.more-stories {
	padding: 40px 0 60px;
	border-bottom: 1px solid #dbdbdb;
}
.more-stories > h1{
	text-align: center;
	font-size: 1.5em;
	text-transform: uppercase;
	margin-bottom: 30px;
}
.ms-inner {
	overflow: hidden;
	/*min-height: 725px;*/
}
.ms-box {
	float: left;
	width: 100%;
	margin-bottom: 20px;
	display: block;
}
.ms-image {
	width: 100%;
	padding-top: 62%;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
.ms-desc {
	padding: 16px;
	width: 100%;
}
.ms-desc h1 {
	margin: 0;
	font-size: 1.4em;
	color: #333;
}
.ms-ad {
	float: left;
	width: 100%;
	margin-bottom: 30px;
	max-height: 330px;
}
.ms-btn {
	background-color: #FF6600;
}
.ms-btn:hover {
	background-color: #ff790d;
}
#ms_loader .ball-grid-pulse>div {
	background-color: #ddd;
}
.ms-loader-inner {margin: 100px auto 400px; overflow: hidden;}

/* Single Photo */
.photo-text {
	margin-bottom: 30px;
}





@media only screen and (min-width: 375px) {/* iPhone 6 */

.ve-head > span {font-size: 14px;}
.more-stories > h1 {font-size: 1.7em;}

}/* end media 375px */ 


@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { /* iPhone Landscape */


}


@media only screen and (min-width: 400px) {
.author-img {width: 60px;height: 60px;border-radius: 30px;}
.author-wrap h4 {margin: 9px 0 0;}
.author-title i {display: inline;}
.author-title br {display: none;}
	
.ve-content h4 {font-size: 16px;}
.ms-box { margin-bottom: 30px; }
.cat-feat-wrap {padding: 0 130px 0 0; position: relative;}
.the-date {position: absolute;right: 0; top: 3px;margin-top: 0;}

}/* end media 400px */ 



@media only screen and (min-width: 600px) {

.cat-feat-label a {font-size: 14px;}
.article-header > h1 {font-size: 33px;}
/*.byline {margin-bottom: 25px;}*/
.byline span {font-size: 14px;}
.social-single ul {display: flex;justify-content:space-between;}
.social-single ul li {margin: 0; width: 32%;}
.social-single ul li a {width: 100%;}
.social-single ul i,
.social-single ul span {display: inline; vertical-align: middle; line-height: 45px; margin:0 5px;}
.social-single ul span {font-size: 15px;}
.social-single ul li:nth-of-type(3) span {color: #333;}

/* Article Body */
.article-body .wp-caption {margin: 40px 0;min-width: 100%;}
.article-body img {margin: 0;max-width: 100%;}
.alignnone {margin: 5px 20px 20px 0;}
.aligncenter,
div.aligncenter {display: block;margin: 5px auto 5px auto;}
.alignright {float:right;margin: 5px 0 20px 20px;}
.alignleft {float: left;margin: 5px 20px 20px 0;}
a img.alignright {float: right;margin: 5px 0 20px 20px;}
a img.alignnone {margin: 5px 20px 20px 0;}
a img.alignleft {float: left;margin: 5px 20px 20px 0;}
a img.aligncenter {display: block;margin-left: auto;margin-right: auto;}
.wp-caption.alignnone {margin: 5px 20px 20px 0;}
.wp-caption.alignleft {margin: 5px 20px 20px 0;max-width: 300px;}
.wp-caption.alignright {margin: 5px 0 20px 20px;max-width: 300px;}

/* Article Elements */
.article-elem {padding-bottom: 0;}
.ae-header {margin-bottom: 15px;}
.ae-header h4 span {padding: 0 12px;}
.ae-img {margin: 0 22px 27px 0;width: 170px;}
.sp-inner .ae-img {margin-bottom: 27px;}
a.ae-title {font-size: 18px;margin-bottom: 10px;}
.ae-sponsor {text-align: left;clear: none;margin-bottom: 15px;font-size: 15px;display: inline-block;}

.ve-content {padding-bottom: 10px;}
.ve-content ul {margin:0 -1.5%;}
.ve-content ul li {width: 30.3333%; margin:0 1.5%;}
.ve-img {width: 100%;}
/* Fix for haritage elements */
.inline-post > a > img {margin: 0 22px 27px 0;width: 170px;}

/* More Stories */
.more-stories {padding: 40px 30px 60px;}
.more-stories > h1 {font-size: 35px; margin-bottom: 50px;}
.ms-desc {padding: 16px 5px;}
/* .ms-desc h1 {font-size: 1.5em;} */

}/* end of media */


@media only screen and (min-width: 700px) {


.ae-content {padding: 0 20px;}

/* More Stories */
.ms-inner {display: flex;flex-wrap: wrap;justify-content: space-between;}
.ms-box,
.ms-ad {width: 48%;float: none; }

}/* end of media */

@media only screen and (min-width: 760px) {

.article {padding:40px 0 0;width: 648px;margin: 0 auto;}
	
.byline span {font-size: 14px;}	
.single-newsletter {padding: 5px 30px 20px;text-align: left;margin: 0 0 30px;}
.single-newsletter > p {font-size: 15px;}
.single-newsletter .newsletter fieldset input:first-child {width: 220px;line-height: 38px;}
.single-newsletter .newsletter fieldset input:last-child {width: auto;height: 44px;}
	
}/* end of media */

@media only screen and (min-width: 920px) {

/* More Stories */
.more-stories {padding: 40px 5% 60px;}

}/* end of media */

@media only screen and (min-width: 1020px) {

.article {margin: 0 0 0 4%; width: 600px;}
.sticky-ad {position: absolute;top: 60px;right: 6%; margin: 0;}
.adfixed {position: fixed; top: 100px;}
.adstick-bottom {position: absolute; top: auto; bottom: 0;}
.adstick-bottom-sm {position: absolute; top: auto; bottom: 0;}

/* More Stories */
.ms-box,
.ms-ad {width: 31.5%; margin-bottom: 40px;}

}/* end of media */


@media only screen and (min-width: 1030px) {

.ms-inner {margin: 0 auto; max-width: 1020px;} 

}/* end of media */


@media only screen and (min-width: 1100px) {
.article {margin: 0 0 0 6%;width: 648px; }

}/* end of media */

@media only screen and (min-width: 1250px) {
.article {margin: 0 0 0 16%; }


}/* end of media */

@media only screen and (min-width: 1350px) {
.article {margin: 0 0 0 22%; }

}/* end of media */

@media only screen and (min-width: 1400px) {
.article {margin: 0 0 0 25%; }
.sticky-ad {right: 6%;}

}/* end of media */

@media only screen and (min-width: 1440px) {

	
}/* end of media */

@media only screen and (min-width: 1500px) {
.sticky-ad {right: 12%;}
	
}/* end of media */

@media only screen and (min-width: 1700px) {/* large desktops */
.sticky-ad {right: 20%;}
	
}/* end of media */

@media only screen and (min-width: 2000px) {
.sticky-ad {right: 29%;}
}/* end of media */

@media only screen and (min-width: 2300px) {
.sticky-ad {right: 35%;}
}/* end of media */







































