/**
 * custom.css
 *
 * supports all custom css in carrington build.
 */
body{border-top: none !important;}

@font-face {
  font-family: "StagMedium";
  src: url("../fonts/stag-medium-webfont.eot");
  src: url("../fonts/stag-medium-webfont.eot?iefix") format("eot"), url("../fonts/stag-medium-webfont.woff") format("woff"), url("../fonts/stag-medium-webfont.ttf") format("truetype"), url("../fonts/stag-medium-webfont.svg") format("svg");
}

@font-face {
  font-family: "StagMediumItalic";
  src: url("../fonts/stag-mediumitalic-webfont.eot");
  src: url("../fonts/stag-mediumitalic-webfont.eot?iefix") format("eot"), url("../fonts/stag-mediumitalic-webfont.woff") format("woff"), url("../fonts/stag-mediumitalic-webfont.ttf") format("truetype"), url("../fonts/stag-mediumitalic-webfont.svg") format("svg");
}

@font-face {
  font-family: "StagBold";
  src: url("../fonts/stag-bold-webfont.eot");
  src: url("../fonts/stag-bold-webfont.eot?iefix") format("eot"), url("../fonts/stag-bold-webfont.woff") format("woff"), url("../fonts/stag-bold-webfont.ttf") format("truetype"), url("../fonts/stag-bold-webfont.svg") format("svg");
}

@font-face {
  font-family: "StagBoldItalic";
  src: url("../fonts/stag-bolditalic-webfont.eot");
  src: url("../fonts/stag-bolditalic-webfont.eot?iefix") format("eot"), url("../fonts/stag-bolditalic-webfont.woff") format("woff"), url("../fonts/stag-bolditalic-webfont.ttf") format("truetype"), url("../fonts/stag-bolditalic-webfont.svg") format("svg");
}

#sidebar {
	float: right;
}
 
.entry {
	margin: 0 0 30px 0;
	border-bottom: 1px dotted #999;
	padding: 0 0 20px 0;
}

/**
 * Single Post Pagination
 * Added By Berry 11/16/2011
 */
.pagination {
	border-top: 0px dotted #CCC;
	border-bottom: 1px dotted #CCC;
	margin: 15px auto;
	overflow: hidden;
	padding: 10px 0;
	font-size: 1em;
}
.pagination-content {
	font-size: 1.2em;
}
.pagination a {
	padding: 5px 10px;
	margin: 0 0 0 0px;
	background: #EEE;
}
.pagination a:hover {
	text-decoration: none;
	background: #DDD;
}
.pagination a.next, .pagination a.prev {
	padding: 10px 15px;
	background: #EEE;
	font-size: 
}
.pagination p {
	color: #BBB;
	margin: 0;
	text-align: center;
	margin: 10px;
}
.pagination-content {
	font-size: 1.5em;
	font-weight: normal;
}

.imo-related-posts {
	border-top: 1px dotted #CCC;
	margin-top: 10px;
	padding-top: 20px;
}

.addthis_toolbox.addthis_default_style {
	margin: 15px 0;
}

/**
 * Default configuration for the subscriptions
 */

#header-sub {
    float: right;
    width: 240px;
    padding-top: 10px;
    padding-right:30px;
}

#header-sub .left {
    float: left;
    text-align: right;
    padding-right: 10px;
    margin-rigt: 10px;
}

#header-sub .right {
    float: right;
}

#header-sub p.title {
    line-height: 13px;
    margin-bottom:10px;
    font-weight: bold;
    color: #cccccc;
}
#header-sub img {
    border: 1px solid #cccccc;
    width: 83px;
}
#header-sub a {
    text-decoration:none;
    font-weight:bold;
    color: #fff;
}
#header-sub p {
    margin-bottom:2px;
    color: #000;
}
/**
 * Subscribe form css
 */
.widget.widget_subscribe-form h2 {
    margin-left: 105px;
}
.widget.widget_subscribe-form {
    border:1px solid #eee;
}
.widget.widget_subscribe-form div.mag-cover {
    float:left;;
    width: 82px;
}
.subscribe-form-block{
    margin: 18px;
}
.subscribeAdModContent form .subscribe-row {
    clear:both;
}
.subscribeAdModContent form .subscribe-row .text {
    display:block;float:left;font-size:14px;margin:2px 25px 0px 0px;text-align:right;width:82px;
}
.subscribeAdModContent form .subscribe-row input.form-text {
    background:#fff;border:1px solid #909294;color:#555;font-size:14px;font-weight:bold;margin:0px 0px 1px;text-indent:3px;vertical-align:middle;width:150px;}

.subscribeAdModContent form .subscribe-row .text.zip {
    width: auto; 
    padding-left: 10px;
}

.subscribeAdModContent form .subscribe-row input.form-text.zipCode {
    width: 55px;
}
.subscribeAdModContent form .subscribe-row input.form-text:focus,
.subscribeAdModContent form .subscribe-row input.form-text.focus 
{
    border-color: #7A7;    }
.subscribeButton .submit-button{
    background:#115FA4 url(../imo-footer/images/mask.png) repeat-x;border:2px solid #115FA4;
    border-radius:3px;-moz-border-radius:3px;border-bottom-left-radius:3px 3px;border-bottom-right-radius:3px 3px;border-top-left-radius:3px 3px;border-top-right-radius:3px 3px;color:white;display:block;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:16px;padding:5px 15px;text-align:center;text-decoration:none;text-transform:uppercase;width:153px;font-weight:bold;margin-left:108px;}
.subscribeAdModContent .jquery_dropdown_container{float:left;width:50px;}
.subscribeAdModContent #stateDropDown{float:left;margin:0px;padding:0px;width:50px;}
.subscribeAdModContent .jquery_dropdown_container ul.jquery_dropdown_list{width:50px;}
.block .subscribeAdModContent form .subscribe-row .zip{width:30px; margin-right: 5px;}
.subscribeAdModContent  .subscribeLinks ul{margin:20px 0 0 0;padding:0;text-align:center;}
.subscribeAdModContent .subscribeLinks  ul li{display:inline-block;padding-left:10px;margin-left:10px;}
.subscribeAdModContent .subscribeLinks  ul li.first{background-image:none;}
#header aside.widget {
    float: right;
    margin-top: 0;
    width: auto;
}

/**
 * Newsletter Form
 */

.newsletter h3, form.newsletter  h3.gform_title, .newsletter h2 {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    letter-spacing: -1px;
    text-transform: capitalize;
}
.gform_wrapper .newsletter .gform_footer { 
    margin:14px 0 0 180px;
    padding:0;
    width: 80px;
    clear:none;
}
.gform_wrapper .newsletter .gform_heading { 
    margin:0;
}
.gform_wrapper form.newsletter .gfield_label {
    display:none;
}
.newsletter {
    background: #BBC url(../img/bbc_gradient.gif) repeat-x;
    padding: 10px 20px 20px;
    border:1px solid #ccc;
    vertical-align: middle;
    position:relative;
          }
#sidebar .newsletter .gform_button {
  /*background: #ccc url(../img/button_gradient.gif) repeat-x;*/
  /*background: #115FA4 url(../img/button_gradient.gif) repeat-x;*/
  color: #06C;
  border: 1px solid #AAA;
  height:26px;
  font-size: 14px;
  border-radius: 0;
  vertical-align:middle;
  display:block;
}
.newsletter .gform_body {
    width: 175px;
    float:left;
}
    .gform_wrapper .newsletter .top_label input.medium,
#sidebar .gform_wrapper .newsletter .ginput_container input {
    border: 1px solid #AAA;
    width:170px;
    padding:0;
    vertical-align: middle;
    margin:0;
    height:24px; 
    font-size: 16px; 
    line-height:26px;
    float:left;
    text-indent: 8px;
}
/** Overridden stye **/
.newsletter { 
    border: 3px solid #ccc;
    padding: 17px 17px;
    background-image: none;
    background-color: white;
}
.newsletter h3, form.newsletter  h3.gform_title, .newsletter h2,
aside.widget .newsletter h3.gform_title {
    font-size: 16px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    letter-spacing: -1px;
    text-transform: capitalize;
    margin-bottom:10px;
    margin-top:0;
}
    .gform_wrapper .newsletter .gform_footer input.button, .gform_wrapper .newsletter .gform_footer input[type="submit"],
#sidebar .newsletter .gform_button {
    /*background: #115FA4 url(../img/button_gradient.gif) repeat-x;*/
    background-color: #115FA4;
    border: 2px solid #115FA4;
    border-radius: 3px;
    -moz-border-radius: 3px;
    border-bottom-left-radius: 3px 3px;
    border-bottom-right-radius: 3px 3px;
    border-top-left-radius: 3px 3px;
    border-top-right-radius: 3px 3px;
    color: white;
    display: block;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

/** Store Widget ***/

.widget .regprice {
    color: #000;
    font-family: Helvetica, Arial, sans-serif;
}
.widget .gform_wrapper {
    max-width: 100%;
}

/** nav-subnav **/

nav.nav-subnav.nav a, nav.nav-subnav.nav a:visited {
    text-transform: capitalize;
    color: #676767;
}
nav.nav-subnav.nav a:hover {
    color: #000000;
}
nav.nav-subnav > ul > li {
    margin-right: 6px;
}
nav.nav-subnav > ul > li > a {
    padding: 2px 15px 2px 7px;
}
nav.nav-subnav.nav {
    float:none;
    background: white;
    border-bottom: 1px solid #ccc;
    padding: 0 20px 0 25px;
    line-height: 30px;
    font-size: 15px;
}
nav.nav-subnav-right.nav {
    border-bottom:0;
}
nav.nav-subnav-right > ul > li {
    margin-right:0; margin-left: 6px;
}
nav.nav-featured, nav.nav-subnav-right.nav {
    float:right;
    clear:right;
    padding-right: 20px;
}

/*CHANNEL FINDER */

#locateChannel h3 {
	color: #ff8400;
	font-family: "Helvetica","Arial",sans-serif;
	text-transform: uppercase;
	font-size: 14px;
	font-style:italic;
	margin: 0;
	padding-top:6px;
	font-weight: bold;
}	
#locateChannel {
	background: #dddfe0 url(/wp-content/themes/carrington-business/img/cf-background.png) no-repeat center top;

	height:165px;
	margin-bottom:10px;
}
#locateChannel #channelControlsContainer{
    background: #000000 url(/wp-content/themes/carrington-business/img/logofind.png) no-repeat 13px 34px;
    width:275px;
    padding-top:10px;
    padding-left:18px;
    height:110px;
    
}

#locateChannel #channelControlsContainer #channelControls{
    margin-top:88px;
}

#locateChannel input.searchbox {
	border: 1px solid #cccccc;
	padding: 4px;
	font-family: verdana;
	font-weight: bold;
	color: #999;
	width: 170px;
}

#locateChannel input.button{
margin: 0;
border: 0;
text-decoration: none;
text-transform: uppercase;
font-size: 12px;

text-shadow: 1px 1px 1px black;
filter: dropshadow(color=#000000, offx=1, offy=1);
padding: 4px 8px;
font-family: verdana;
font-weight: bold;
width:81px;
color: white;
background-color: #d7ab55;
background-image: url(/wp-content/themes/carrington-business/img/button-bg.png);
}



/*BONUS COLUMN MODS*/

body.page-template-page-right-php {
    
    width:1010px;
}

.bonus-background {
    float:right;
    width:310px;
    background-color:#fff;
}

.bonus {
	margin-top:5px;
	margin-left:5px;
	width: 300px;
}

.page-template-page-right-php .cfct-block-c,
.page-template-page-right-php .cfct-block-b,
.page-template-page-right-php .cfct-block-a{
    
}

.page-template-page-right-php .str-container {
    width:1010px;
    margin:0px;
}

.page-template-page-right-php .nav-main {
    
    width:auto;
}

.page-template-page-right-php .col-a,
.page-template-page-right-php .col-b,
.page-template-page-right-php .col-c,
.page-template-page-right-php .cfct-block-a,
.page-template-page-right-php .cfct-block-b,
.page-template-page-right-php .cfct-block-c,
.page-template-page-right-php .col-ab,
.page-template-page-right-php .col-ab,
.page-template-page-right-php .cfct-block-float-c {
    width: 200px;
}
.page-template-page-right-php .col-a,
.page-template-page-right-php .col-b,
.page-template-page-right-php .col-c,
.page-template-page-right-php .col-ab,
.page-template-page-right-php .col-bc,
.page-template-page-right-php .col-abc,
.page-template-page-right-php .col-d,
.page-template-page-right-php .col-e,
.page-template-page-right-php .col-f,
.page-template-page-right-php .col-g,
.page-template-page-right-php .col-h,
.page-template-page-right-php  .cfct-block {
    
    margin-right:10px;
    margin-left:10px;
    
}


.page-template-page-right-php  .col-abc .col-a,
.page-template-page-right-php  .col-abc .col-ab,
.page-template-page-right-php  .col-abc .col-d,
.page-template-page-right-php  .col-ab .col-a,
.page-template-page-right-php  .col-bc .col-b,
.page-template-page-right-php  .col-ab .cfct-block-a,
.page-template-page-right-php  .col-ab .cfct-block-ab,
.page-template-page-right-php  .col-ab .cfct-block-abc,
.page-template-page-right-php  .col-ab .cfct-block-d,
.page-template-page-right-php  .col-bc .cfct-block-a,
.page-template-page-right-php  .col-bc .cfct-block-ab,
.page-template-page-right-php  .col-bc .cfct-block-bc,
.page-template-page-right-php  .col-bc .cfct-block-abc,
.page-template-page-right-php  .col-bc .cfct-block-d,
.page-template-page-right-php  .col-abc .cfct-block-a,
.page-template-page-right-php  .col-abc .cfct-block-ab,
.page-template-page-right-php  .col-abc .cfct-block-abc,
.page-template-page-right-php  .col-abc .cfct-block-d,
.page-template-page-right-php  .col-d .col-f,
.page-template-page-right-php  .col-e .col-f {

    margin-left:0px;
}


.page-template-page-right-php .col-ab,
.page-template-page-right-php .col-bc,
.page-template-page-right-php .cfct-block-ab,
.page-template-page-right-php .cfct-block-bc {
width: 420px;

}

.page-template-page-right-php .cfct-block-d,
.page-template-page-right-php .cfct-block-e {
     
     width:310px;

}

.page-template-page-right-php .cfct-block-c {
	padding-left:0px;
}


#main-content .ngg-imagebrowser {
    padding-top: 20px;
}

/**
 * Fix for Main Content width for Uber Menu
 * Added By Aaron 11/18/2011
 */
#main-content {
       width: 1020px;
       clear: both;
}

/**
 * Taxonomy Template CSS
 * Added By Aaron 11/28/2011
 */
.taxonomy-page .taxonomy-col-abc {width:650px;}



.taxonomy-page .taxonomy-right-box {
	float:right;width:160px;margin-right:0px;border:5px solid #e3e3e3;padding:10px;height:363px;
}

.taxonomy-featured-container {
	
	margin-bottom:30px;
}

/** Entery excerpt **/

.entry .entry-footer, .entry .entry-info, .reply .reply-footer {
	margin-bottom: 5px;
}

h2.entry-title a {
	color: #333;
}
h2.entry-title a:hover {
	color: #000;
}
.entry-summary .entry-info h2.entry-title {
	padding-top: 10px;
	color: #000;
	line-height: 1em;
}

/*GALLERY BUTTONS*/
.ngg-imagebrowser .ngg-imagebrowser-nav .counter {
	font-size: 1.2em !important;
	color: #999;
	font-weight: bold;
	padding: 0 8px;
	margin-top: 0px;
}
.ngg-imagebrowser-nav {

}
.ngg-imagebrowser-nav a {
	color: #fff;
	padding: 10px 25px;
	background: #000;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
}
.ngg-imagebrowser .ngg-imagebrowser-nav .back, .ngg-imagebrowser .ngg-imagebrowser-nav .next {
	margin-right: 0px;
	border: 0px solid #DDD;
	padding: 0px;
}
.ngg-imagebrowser .ngg-imagebrowser h3 {
	margin-top: 15px;
}

.featured-item-description h2 {
	padding: 10px !important;
	font-size: 20px !important;
}
/*Newsletter Form Edits*/
.gform_wrapper ul li.gfield {
	margin-top: 4px;
}


/************************
*****
***** IMO NETWORK TOPHAT
*****
************************/

#imo-tophat{
	margin: 0 auto;
    position: fixed;
    width: 100%;
    z-index: 999999999;
}
.ga-network{
	
}
.top-bar{
	background-color: #333;
	text-align: center;
	height: 30px;
	position: relative;
	z-index: 2;
}
.top-bar h2{
	background-color: #333333;
    color: #858585;
    font-size:1em;
    margin: 0 auto;
    padding: 7px 10px 0;
    position: relative;
    text-align: center;
    width: 216px;
	font-weight: lighter;
	font-family: "StagMedium",serif;
}
.top-bar hr{
	border-color: #858585;
    margin: -8px auto 0;
    width: 330px;
}
.network-nav{
	background: #171717; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iIzE3MTcxNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjMxJSIgc3RvcC1jb2xvcj0iIzFjMWMxYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0NzQ3NDciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #171717 1%, #1c1c1c 31%, #474747 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#171717), color-stop(31%,#1c1c1c), color-stop(100%,#474747)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #171717 1%,#1c1c1c 31%,#474747 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #171717 1%,#1c1c1c 31%,#474747 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #171717 1%,#1c1c1c 31%,#474747 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #171717 1%,#1c1c1c 31%,#474747 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#171717', endColorstr='#474747',GradientType=0 ); /* IE6-8 */
	
	display: block;
	height: 40px;
    position: absolute;
    width: 100%;
    border-bottom: #262626 1px solid;
    z-index: 0;
}
.network-nav ul{
	list-style: none;
	margin: 0;
	padding: 0;
	margin: 0 auto;
	width: 730px;
}
.network-nav li{
	float: left;
	height: 40px;
	padding: 0 20px;
	margin: 0;
}
.network-nav li.active{
	background: #333333; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIzOCUiIHN0b3AtY29sb3I9IiMzMzMzMzMiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMjIyMjIyIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
background: -moz-linear-gradient(top,  #333333 38%, #222222 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(38%,#333333), color-stop(100%,#222222)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #333333 38%,#222222 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #333333 38%,#222222 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #333333 38%,#222222 100%); /* IE10+ */
background: linear-gradient(to bottom,  #333333 38%,#222222 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#222222',GradientType=0 ); /* IE6-8 */

}
.network-nav li a{
	height: 40px;

}
.network-nav li div{
	height: 40px;
}
.network-nav li.ga div{
	background: url("../img/tophat/tophat-ga.png") no-repeat center center;
	width: 109px;
}
.network-nav li.hg div{
	background: url("../img/tophat/tophat-hg.png") no-repeat center center;
	width: 84px;
}
.network-nav li.st div{
	background: url("../img/tophat/tophat-st.png") no-repeat center center;
	width: 82px;
}
.network-nav li.rs div{
	background: url("../img/tophat/tophat-rs.png") no-repeat center center;
	width: 116px;
}
.network-nav li.sn div{
	background: url("../img/tophat/tophat-sn.png") no-repeat center center;
	width: 135px;
}
.network-nav li.sv div{
	background: url("../img/tophat/tophat-sv.png") no-repeat center center;
	width: 84px;
}


/* current states */
.network-nav li.hg-active div{
	background: url("../img/tophat/tophat-active-hg.png") no-repeat center center;
	width: 84px;
}
.network-nav li.st-active div{
	background: url("../img/tophat/tophat-active-st.png") no-repeat center center;
	width: 82px;
}
.network-nav li.rs-active div{
	background: url("../img/tophat/tophat-active-rs.png") no-repeat center center;
	width: 116px;
}
.network-nav li.sn-active div{
	background: url("../img/tophat/tophat-active-sn.png") no-repeat center center;
	width: 135px;
}
.network-nav li.sv-active div{
	background: url("../img/tophat/tophat-active-sv.png") no-repeat center center;
	width: 84px;
}

/* Hover States */
.network-nav li.ga a:hover div{
	background: url("../img/tophat/tophat-active-ga.png") no-repeat center center;
}
.network-nav li.hg a:hover div{
	background: url("../img/tophat/tophat-active-hg.png") no-repeat center center;
}
.network-nav li.st a:hover div{
	background: url("../img/tophat/tophat-active-st.png") no-repeat center center;
}
.network-nav li.rs a:hover div{
	background: url("../img/tophat/tophat-active-rs.png") no-repeat center center;
}
.network-nav li.sn a:hover div{
	background: url("../img/tophat/tophat-active-sn.png") no-repeat center center;
}
.network-nav li.sv a:hover div{
	background: url("../img/tophat/tophat-active-sv.png") no-repeat center center;
}

/* flash heed for flash ads */
.widget_advert-widget{
	z-index: 1;
}
.centerad{
    z-index: 1;
    position: relative;
}

/* Digimag sidebar fix */
.single-digmag_article .col-ab {
width: 648px;
float: left;
margin-right: 32px;
}
.single-digmag_article .widget{
float: right;
width: 300px;
}


/**** Shot Show Widget *****/
#shot-show-widget{
	
}
.widget-header{
	background: url("../img/shot-show-widget-logo.jpg") no-repeat center top;	
	height: 40px;
}
.primary-shot-show{
	overflow: hidden;
	width: 648px;
	margin-bottom: 5px;
}
.primary-shot-show .primary-cat{
	float: left;
	margin-top: 6px;
}
.primary-shot-show .presented-by{
	float: left;
	margin: 9px 8px 0 8px;
font-size: 0.72em;
}
#shot-show-widget{
margin-top: 8px;
}
#shot-show-widget .sponsor-logo{
	float: right;
	background: none;
}
.primary-shot-show .sponsor-logo img{
	height: 30px;
}

