/**
 * @file
 *  Footer CSS
 *
 * Any CSS in this file will override the rules specified in the ie.css file.
 */
/**
 * Global Footer Styles
 */
 

#footer-section {
    width:1020px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-left: auto;
	margin-right: auto;
} 
 
#footer-universal-outer {

margin: 0px;
position: relative;

}

div#footer-universal-outer .region-footer {
    clear:both;
    background-color: #231f20;
    background-image: url(../imo-footer/images/footer-bg.png);
    background-repeat: repeat-x;
    width: 1020px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:#D7D9DC;
}
#footer-universal-outer a {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:#D7D9DC;
    text-decoration: none;
    font-size: 11px;
}

#footer-universal-outer a:hover {

  color: #F58220;
} 

#footer-universal-outer ul {
    list-style: none;
    margin:0;
    padding:0;
}
#footer-universal-outer li {
    list-style: none;
    margin:0;
    padding:0;
}
#footer-universal-outer h3{
    font-size: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #D7D9DC;
    letter-spacing: -1px;
    margin:0 0 20px 0;
    padding-top: 10px;
    padding-bottom:10px;
    color: #231f20;
}
.footer-row {
    clear:both;
    height:309px;
    padding-left: 110px;
    padding-top: 105px;
}
.footer-col-wrapper{
    float:left; width: 205px; 
}
.r-col {width: 240px;}
.footer-col-wrapper .section {
    margin-left: 20px;
}
#footer-universal-outer .r-col  .section ul {  }


/**
 * First row of the footer. 
 */
#footer-universal {    background-image: url(../imo-footer/images/new-footer-bg.jpg);
    background-repeat: no-repeat;padding-bottom:1em;}
#block-menu-menu-footer-links {
	border-top: 1px solid #CCC;background: url(../imo-footer/images/footer-site.png) repeat-x #555052;
}
#block-menu-menu-footer-links li {display: inline;}
.gf-list {width:  110px;float:left;}
#hunt li,#fish li,#shoot li {
    margin-bottom: 20px;
}
#hunt, #fish, #shoot, #more {margin-top:10px;}

#shoot.footer-menu {
    
    padding-left:8px;
}

#fish.footer-menu {
    
    padding-left:15px;
}

#more.footer-menu {
    
    padding-left:13px;
}


#hunt.footer-menu li a, #shoot.footer-menu li a, #fish.footer-menu li a {
    display: block; text-indent: -9000em; width: 100%;
    background: url(../imo-footer/images/hunting-off.png) no-repeat;height: 30px;
}
#fish.footer-menu li a {
    background-image: url(../imo-footer/images/fishing-off2.png);
}

#shoot.footer-menu li a {
    background-image: url(../imo-footer/images/shooting-off2.png);
}
#fish.footer-menu li a:hover {
    background-image: url(../imo-footer/images/fishing-on.png);
}
#shoot.footer-menu li a:hover {
    background-image: url(../imo-footer/images/shooting-on2.png);
}
#hunt.footer-menu li a:hover {
	background-image: url(../imo-footer/images/hunting-on.png);
}

#hunt.footer-menu li a.petersenshunting {background-position: 0 -237px; }
#hunt.footer-menu li a.bowhunting {background-position: 0 -190px; }
#hunt.footer-menu li a.bowhunter {background-position: 0 0; height: 35px}
#hunt.footer-menu li a.northamericanwhitetail {background-position: 0 -55px; height:35px;}
#hunt.footer-menu li a.wildfowl {background-position: 0 -148px; }
#hunt.footer-menu li a.gundog {background-position: 0 -106px; }

#fish.footer-menu li a.floridasportsman {background-position: 0 -116px;height:25px;}
#fish.footer-menu li a.infisherman  {background-position: 0 0px;}
#fish.footer-menu li a.flyfish {background-position: 0 -56px;height:40px;}
#fish.footer-menu li a.bassfan {background-position: 0 -160px;height: 53px;}

#shoot.footer-menu li a.gunsandammo {background-position: 0 -190px;height:25px;}
#shoot.footer-menu li a.shotgunnews {background-position: 0 -150px;height:27px;}
#shoot.footer-menu li a.shootingtimes {background-position: 0 -95px;height:40px}
#shoot.footer-menu li a.rifleshooter {background-position: 0 -55px;height:24px;}
#shoot.footer-menu li a.handguns {background-position: 0 -0px;height: 38px;}
#shoot.footer-menu li a.tacticalgunfan {background-position: 0 -230px;height: 49px;}

#more.footer-menu li a.gameandfish {
    background-image: url(../imo-footer/images/gameandfish_logo.png);
    background-repeat:no-repeat;
    height:40px;
    background-position: 0 0px;
    text-indent: -9000em;
    width: 100%;
    display:block;
}

#more.footer-menu li a.gameandfish:hover {
    background-image: url(../imo-footer/images/gameandfish_logo-on.png);
}




#more.footer-menu li a.sportsmanchannel {
    background-image: url(../imo-footer/images/tv_logo.png);
    background-repeat:no-repeat;
    height:40px;
    background-position: 0 0px;
    text-indent: -9000em;
    width: 100%;
    display:block;
    margin-top:10px;
}


#more.footer-menu li a.sportsmanchannel:hover {
    background-image: url(../imo-footer/images/tv_logo_on.png);
}

#more.footer-menu li a.imostore {
    margin-left:6px;
    margin-top:14px;
    background-image: url(../imo-footer/images/imo-store.png);
    background-repeat:no-repeat;
    height:50px;
    background-position: 0 0px;
    text-indent: -9000em;
    width: 100%;
    display:block;
}

#conservation-links {text-align: right;padding-left:15px;padding-right:15px;font-size: 14px;/*background: url(../imo-footer/images/primarynav.png) repeat-x #ffffff;*/}

/**
 * Second Footer Row; Contains the custom menu for each site. 
 */
#block-menu-menu-footer-links {height: 50px;margin-bottom:0;}
#block-menu-menu-footer-links .menu {
    float:left;
    padding-left:0px;
    margin-top:15px;
}
#block-menu-menu-footer-links .menu li a {
    font-size: 12px;
    color:#ffffff;
    text-decoration: none;
    text-transform:uppercase;
}
#block-menu-menu-footer-links .menu li {/*background: url(../imo-footer/images/list-dot.png) no-repeat center left;*/padding-left: 20px;margin-left:10px;}
#block-menu-menu-footer-links .menu li.first {list-style: none;padding-left:0;margin-left:0;background-image:none;}

#footer-imo {
	background:#747474 url(../imo-footer/images/footer-imo.jpg);
	padding-top: 14px;
	padding-left:0px;
	height:40px;
}
#footer-copyright {float:left;margin-left:20px;color:black;font-size:11px;}
#footer-partners {text-align:right;margin-right:20px;}

#conservation-links #conservation-link {font-size: 12px;}
#conservation-links {position:absolute;z-index:9;color:#ffffff;margin-left:810px;margin-top:15px;}
#conservation-lists {
    display:none;
    background: #231f20;padding: 10px;width:400px;
    position: absolute; right:0;bottom:0px;text-align:left;
}
#conservation-lists h3 {color:white;padding-left:10px;padding-top:10px; margin-left:0;margin-top:0;margin-bottom:0;}
#conservation-links ul {
    width: 190px;float:left;padding-left:10px;
    margin: 0;
}
#conservation-links ul li {display: block;border-bottom: 1px dashed #777;padding:5px 0; line-height:105%; margin:0;}
#conservation-links ul li.last {border-bottom:none;}

#conservation-links a,#conservation-links a:visited {
color:#ffffff;
text-transform:uppercase;

text-decoration: none;
}


#footer-universal-outer .statebystate ul li, #footer-universal-outer .sportsman ul li  {}
.statebystate .logo-link, .sportsman .logo-link {
     display: block; text-indent: -9000em; width: 100%;
    background: no-repeat;height: 38px;
}
.statebystate .logo-link {
    background-image: url(../imo-footer/images/gameandfish_logo.png);
}
.statebystate .logo-link:hover {
    background-image: url(../imo-footer/images/gameandfish_logo-on.png);
}
.sportsman .logo-link {
    background-image: url(../imo-footer/images/tv_logo.png);
}
.sportsman .logo-link:hover {
}

#block-gunsandammo_blocks-conservation_links {bottom: 50px;
position: relative;
right: 0px;}

#footer-content .str-content {
-moz-border-radius-bottomleft: 0px;
border-radius: 0 0 0px 0px;
-moz-border-radius-bottomright: 0px;
border-radius: 0 0 0px 0px;
}
