
/*HOMEPAGE LAYOUT OVERRIDES*/

.page-template-home-php .col-abc {

	margin:0px;
}


.page-template-home-php .str-content {
	padding:0px;
}


.imo-fb-login-button {
	cursor: pointer;
	background-color:#7fa8f4;
}