
/*HOMEPAGE LAYOUT OVERRIDES*/

.page-template-home-php .col-abc {

	margin:0px;
}


.page-template-home-php .str-content {
	padding:0px;
}


.imo-fb-login-button {
	cursor: pointer;
	background-color:#7fa8f4;
}


.new-post-share-box {
	
	height:280px;
	text-align: center;
	padding:15px;
	width: 395px;

}

.new-post-share-box .big-addthis {
	margin:auto;
	width: 320px;
}

.new-post-share-box .big-addthis a.addthis_button_twitter {
	margin-left:10px;
}

.new-post-share-box h2 {
	line-height: 20px;
}

.share-box-icon {
	vertical-align: middle;
	margin-right:10px;
}

.qtip-wrapper h2 {color:white;}

.qtip-wrapper li {
	list-style-type: none;
	line-height: 12px;

}

.qtip-wrapper ul {
		margin:0px;
	padding:0px;
}


.recon-box .editor-functions {
	right: 0px;
	top: 270px;
	position: absolute;
}

.recon-row .editor-functions {
	right: 0px;
	top: 10px;
	position: absolute;
}

.superpost-comment-container .editor-functions {
	right: 350px;

	position: absolute;
}

.entry-content .editor-functions {
	right: 0px;

	position: absolute;
}