
#featured_slideshow_mask {
  position:relative;
  overflow:hidden;
  margin:0 auto;
  width:320px;
  height:400px;
}

#featured_slideshow {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;

}

#slideshow .slide {
  position:absolute;
  width:640px;
  height:320px;
}

#pager a.active {
  background:orange;
}
    


#featured_slideshow_mask h2.title {
  margin-top: 5px;
margin-bottom: 0px;
line-height: 1em;
width:300px;
}


#featured_slideshow_mask #pager {
  
  margin-top:360px;
  margin-right:auto;
  margin-left:auto;
  text-align:center;
}

#featured_slideshow_mask #next {
  width: 16px;
height: 16px;
cursor: pointer;
float: right;
margin-right: 100px;
background: transparent url(scroller_sprite.png) no-repeat 0 0;
z-index: 100;
position: relative;
  margin-top:362px;
  
}
#featured_slideshow_mask #prev {
width: 16px;
height: 16px;
cursor: pointer;
float: left;
margin-left: 100px;
background: transparent url(scroller_sprite.png) no-repeat -20px 0;
z-index: 100;
position: relative;
  
  margin-top:362px;
}



#featured_slideshow_mask #pager a {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  overflow: hidden;
  text-indent: -999em;
  height: 8px;
  width: 8px;
  margin: 0 4px;
  cursor: pointer;
  background-color: #bbb;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  -moz-transition-property: opacity;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 200ms;
  -webkit-transition-duration: 200ms;
  -o-transition-duration: 200ms;
  transition-duration: 200ms;
  -moz-transition-timing-function: easeInOut;
  -webkit-transition-timing-function: easeInOut;
  -o-transition-timing-function: easeInOut;
  transition-timing-function: easeInOut;
}

#featured_slideshow_mask #pager a {
  *display: inline;
}

#featured_slideshow_mask #pager a:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}

#featured_slideshow_mask #pager a:active {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}

#featured_slideshow_mask #pager a.active {
  background-color: #c43c35;
}


                        /** 
 * List Styles
 */
ul.withpic {
  margin:0;
  padding:0;
  list-style:none;
}
ul.withpic li {
  list-style:none;
  min-height: 75px;
  padding-right:0px;
  margin-bottom:15px;

}
ul.withpic li h3 {
  margin-left:120px;
  margin-bottom:0px;
  line-height:0.8em;
}

ul.withpic li h3 a{
  font-size:13px;
  
}

ul.withpic li p {
    margin-top:0px;
  margin-left:120px;
}
ul.withpic li div.image {
  float:left;
  width: 110px;
  height:70px;
  overflow:hidden;
  border:2px solid #CCC;
}

ul.linklist {
  margin-top: 10px;
  margin-left:10px;
}
ul.linklist li {
  font-size: 12px;  
  text-transform: capitalize;
  font-weight: bold;
  color:#095FAA;
  
}

ul.arrowlist {
  margin-left: 22px;
}
ul.arrowlist li {
  list-style-image: url(../images/rarr.png);
}


div.feature-image {
  width:308px;
  overflow:hidden;
  height: 225px;
  border:1px solid #ccc;
}


/** Featured Story **/
#featured { width: 100%; height:390px;}
#featured .content {
  padding-bottom:20px;
}
#featured .left { 
  float: left;
  width:300px;
}
#featured .right {
  margin-left: 330px;
  width:270px;
  height:370px;
  padding-left:20px; 
  border-left: 1px solid #CCC;
}

#featured p {
  margin-top: 7px;
  margin-bottom:0;
  padding-bottom: 0;
  height: 30px; 

}

.left { 
  float: left;
}
.right {

}
.byline {
  color: #999;
}